.charts-title {
    width: 800px;
    height: 156px;
    font-family: 'Inter';
    font-weight: 800;
    font-size: 40px;
    line-height: 61px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.14em;
    color: #0a3752;
}


.charts-container {
    padding-left: 50px;
}

.under-line {
    box-sizing: border-box;
    margin-top: 100px;
    position: absolute;
    width: 90%;
    height: 0px;
    border-radius: 25%;
    background: #0a3752;
    border: 5px solid rgba(15, 99, 146, 0.5);
    transform: rotate(-0.16deg);
}

.chart-row{
    display: flex;
    padding-top: 50px;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;

}

.buttons{
    display: flex;
    align-items: center;
    justify-content: center;

}

.button-container{
    padding-left: 10px;
}

.charts-sub-title{
    display: flex;
    justify-content: center;
}