.profile-title {
    width: 393px;
    height: 156px;
    font-family: 'Inter';
    font-weight: 800;
    font-size: 40px;
    line-height: 61px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.14em;
    color: #0F6392;
}


.profile-container {
    padding-left: 50px;

}

.under-line {
    box-sizing: border-box;
    margin-top: 100px;
    position: absolute;
    width: 90%;
    height: 0px;
    border-radius: 25%;
    background: #0F6392;
    border: 5px solid rgba(15, 99, 146, 0.5);
    transform: rotate(-0.16deg);
}

.content-sepatator {
    padding-bottom: 50px;
}

.profile-content {
    display: flex;
}

.profile-container-left {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    width: 50%;

}

.profile-container-right {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 50%;

}

.profile-content-title {

    font-family: 'Inter';
    font-weight: 800;
    font-size: 24px;
    line-height: 20px;
    letter-spacing: 0.14em;

    color: #000000;
}

.profile-content-description {
    font-weight: 300;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
}



.Boxer-button {
    width: 50%;
}

.upload-button {
    width: 50%;
}

.basic-information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.bi-element {
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    width: 50%;
}

.bi-element .MuiTextField-root {
    width: 100%;
}

.basic-information-title {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    padding-left: 10%;

}

.professional-details-title {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
}

.basic-information-title,
.professional-details-title p {
    color: #0F6392;
    font-size: large;
    letter-spacing: 0.1em;
    font-weight: bold;
}

.professional-information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.save-button {
    display: flex;
    justify-content: center;
    padding-top: 80px;
}