.search-container {
    height: fit-content;
    padding-left: 50px;
}
.search-title{
    width: 393px;
    height: 156px;
    font-family: 'Inter';
    font-weight: 800;
    font-size: 50px;
    line-height: 61px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.14em;
    color: #0F6392;
}
.search-container-top {
    height: fit-content;
    display: flex;
    justify-content: center;
    width: 70%;
}

/* .search-container-top-left {
border-style: solid;
border-color: red;
}*/

.search-container-top-right {
    width: 20%;
} 
.search-container-bottom {
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}


.boxer{
    display: flex;
    margin-top: 20px;
    padding-left: 30px;
    align-items: center;
    width: 100% !important;
}


.skills-title{
font-weight: bolder;
text-align: right;
font-size: large;
padding-top: 20px;
padding-right: 20px;
}

.plus-icon{
    align-items: center;
    justify-content: center;
}

.table-container{
    padding-top: 30px;
    width: 80%;
}

.boxer .MuiTextField-root {
    width: 80%; 
  }

.cancel-icon{
    padding-left: 20px;
}