.modify-container {
    height: fit-content;
    padding-left: 50px;
    padding-right: 150px;
}

.modify-title {
    width: 800px;
    height: 156px;
    font-family: 'Inter';
    font-weight: 800;
    font-size: 40px;
    line-height: 61px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.14em;
    color: #0a3752;
}

.modify-container-top {
    height: fit-content;
}

.modify-container-top-left {
    width: 100%;
    display: flex;
}


.modify-container-bottom {
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 50px;
}


.Boxer {
    display: flex;
    margin-top: 20px;
    width: 80% !important;
}


.skills-title {
    font-weight: bolder;
    font-size: large;
    padding-top: 20px;
    padding-right: 20px;
}

.plus-icon {
    align-items: center;
    justify-content: center;
}

.table-container {
    padding-top: 30px;
    width: 80%;
}

.buttons-container{
    padding-left: 100px;
    width: 50%;
}

.add-button{
    width: 60%;
}

.modify-container-top-left-0{
    width: 10%;
}
.modify-container-top-left-1{
    width: 30%;
}

.inputform{
    width: 100%;
}