.search-container {
    height: fit-content;
    padding-left: 50px;
    padding-right: 150px;
}

.search-title {
    width: 800px;
    height: 156px;
    font-family: 'Inter';
    font-weight: 800;
    font-size: 50px;
    line-height: 61px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.14em;
    color: #0F6392;
}

.search-container-top {
    height: fit-content;
}

.search-container-top-left {
    width: 50%;
}

.search-container-top-right {
    width: 50%;
}

.search-container-bottom {
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}


.Boxer {
    display: flex;
    margin-top: 20px;
    width: 100%;
}


.skills-title {
    font-weight: bolder;
    font-size: large;
    padding-top: 20px;
    padding-right: 20px;
}

.plus-icon {
    align-items: center;
    justify-content: center;
}

.table-container {
    padding-top: 30px;
    width: 100%;
}

.buttons-container{
    padding-left: 100px;
    width: 50%;
}

.add-button{
    width: 60%;
}