.login-container{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    height: 100vh; 
}
.login-content{
    width: 30%;
    height: 50% !important;
}

.login-title{
    text-align: center;
    font-size: xx-large;
    color: #0F6392;
}

.login-picture{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.span-warning{
    color: red;
    font-size: small;
}

.span-green{
    color: black;
    font-size: small;
}

.boxer{
    display: flex;
    margin-top: 20px;
    width: 100% ;
    justify-content: center;
}
.boxer .MuiTextField-root {
    width: 60%; /* Set width to 100% to span the full width of the parent container */
  }

.input-form{
    width: 60%;
}

.boxer-left-align{
    padding-left: 20%;
}
.boxer-button{
    width: 40%;
}